/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Hind', sans-serif; */

@font-face {
  font-family: 'tropical';
  src: url('./fonts/Tropical.ttf');
}

@font-face {
  font-family: 'shady';
  src: url('./fonts/Shady_Lane.ttf') format("ttf");
}

* {
    box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    color: darkslateblue;
    background-image: url(./images/speckledWall.jpg);
    /* background-color: #d47337; */
    /* background-color: #dc8271; */
    /* background-color: #acd6bc; */
    background-size: cover;
    font-family: 'tropical', sans-serif;
}

.wrapper{
    width: 90%;
    position: relative;
    min-height:100%;
    height: 100vh;
    margin: 0 auto;
}

.math{
    color: #fd81a5
}

h1{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 60px;
    margin-top: 10vh;
    letter-spacing: 3px;
}

.main{
    max-width: 600px; 
    /* width: 100%; */
    margin: 0 auto;
}


/* SCOREBOARD */

.scoreBoard{
    width: 100%;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    margin: 5vh auto 0;
    display: none;
}

.fateDisplay p, .playerDisplay p{
    text-align: center;
    margin:5px;
}

.vs{
    clear: both;
    text-align: center;
}

.display{
    display: flex;
   align-content: center;
   justify-content: space-evenly;
   font-size: 50px;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: none !important;
}

/* GAME CONTROLS */
.gameControls{
    text-align: center;
    position: absolute;
        padding-top: 12%;
    width: 100%;
    background: #d8e4f1;
    opacity: 0.95;
    z-index: 1;
    height: 100%;
    background: no-repeat url('./images/paintStreak.png');
    background-size:contain;
    margin-top: 75px;
}

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    padding: 10px 0px;
    border: none;
    cursor:pointer;
    width: calc(100px - 6.66px );  
    font-size: 18px;   
    color: darkslateblue;  
    font-family: "helvetica", sans-serif;
}

button:hover{
    background-color: #fd81a5;
    opacity:0.9;
    transition: all 0.3s ease-out;
}

.selected{
    background-color: #fe8fae;
}

/* GAME SCREEN */

.hand{
    width: 300px;
    height: 300px;
    float: left;
}

.gameScreen{
    position: relative;
    /* overflow: hidden; */
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    border-radius: 1px;
}

.animation{
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0;
    top:30px;
}

#leftHand{
    left: 0;
    bottom: 0;
    background: no-repeat url(images/left/LeftRockWin.png);
    width: 300px;
    height: 300px;
}

#rightHand{
    right: 0;
    bottom: 0;
    background: no-repeat url(images/right/RightRockWin.png);
    width: 300px;
    height: 300px;
}

/* START MODAL */

.input{
    margin:7% 0;
    font-family: "helvetica", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: black;
}

#playerInputForm{
    text-align: center;
    padding: 10%;
    font-size: 40px;
}

#nameInput, #fateInput{
    border: none;
    background-color: transparent;
    background-color: transparent;
    color: darkslateblue;
    border-bottom: 3px dotted black;
    font-size: 20px;
    width: 150px;
}

#fateInput label{
    line-height: 30px;

}

.playButton{
    border-radius: 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: white;
    background-color: darkslateblue;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 13PX;
    border-radius: 5px;
    border: 3px solid darkslateblue;
    position: relative;
    overflow: hidden;
    width: 160px;
}

.playButton:hover{
       background-color: #fd81a5;
        /* background-color: transparent; */
       /* transition: all 0.5s ease-out; */
       color: darkslateblue;
}

.playButton span {
    -webkit-transition: 0.s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.playButton:before,
.playButton:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.playButton:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    color: darkslateblue;
}

/* :after */

.playButton:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
    /* color: darkslateblue; */
}

/* Span on :hover and :active */

.playButton:hover span,
.playButton:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.playButton:hover:before,
.playButton:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

/* 
  We hide :before pseudo-element on :active
*/

.playButton:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/* END MODAL */

.hide{
    display:none;
    /* visibility: hidden; */
}

.gameOverModal{
    text-align: center;
    padding: 20px;
    font-size: 38px;
    width: 100%;
}

#messageBoard{
    text-align: center;
    color: red;
    font-size: 22px;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 5%;
}

/* FOOTER */

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 4vh;
    bottom: 100px;
}

footer a {
    text-decoration: none;
}
